body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.zone {
    border:1px solid #bbb;
    border-radius:4px;
    color:#FFF;
    cursor:pointer;
    font-size:2em;
    transition: all 0.3s linear;
}

.zone:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}



/*********************************************************************
  NAV BAR
**********************************************************************/
a {
    color: #f5f5f6;
    text-decoration: none;
}

input[type=text] {
    border: none;
    border-radius: 15px 0 0 0;
    font-size: 17px;
    padding: 6px 12px;
}

li {
    padding: 15px;
}

.link:hover {
    background-color: #4096ee;
}

.main-nav {
    display: flex;
    font-size: 0.7em;
    list-style: none;
    margin: 0;
}

.push {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0;
}

.push button {
    background: #ddd;
    border: none;
    border-radius: 0 0 15px 0;
    cursor: pointer;
    float: right;
    font-size: 17px;
    margin-right: 16px;
    padding: 6px 10px;
}

.push button:hover {
    background: #ccc;
}

.sticky {
    position: fixed;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .main-nav {
        font-size: 0.6em;
        padding: 0;
    }
}

@media screen and (max-width: 800px) {
    .main-nav {
        font-size: 0.4em;
    }
}

@media screen and (max-width: 600px) {
    .main-nav {
        display: block;
    }
}



/*********************************************************************
  COVER
**********************************************************************/
.container {
    display: flex;
    align-items: center;
    height: 70vh;
    justify-content: center;
}

.cover {
    width: 30rem;
}



/*********************************************************************
  GRID PANEL
**********************************************************************/
.box {
    background-color: #444;
    padding: 100px;
    margin: 20px;
}

.box > img {
    width: 100%;
}

.box:hover {
    transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    -webkit-transform: rotate(-7deg);
}

.grid-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}



/*********************************************************************
  Footer
**********************************************************************/
footer {
    display: flex;
    text-align: center;
    justify-content: center;
}

h4 {
    color: black;
    margin-left: 12px;
}

.red {
    color: red;
}



/*********************************************************************
  Green Background
**********************************************************************/
.green{
    background: #56B870; /* Old browsers */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
}

/*********************************************************************
  Red Background
**********************************************************************/
.pink{
    background: #C655BE; /* Old browsers */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
}

/*********************************************************************
  Yellow Background
**********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
}

/*********************************************************************
  Blue Background
**********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
}
